@import "tailwindcss";

* {
  font-family: Pixelify Sans, sans-serif;
  box-sizing: border-box;
  color: var(--red-color-tier1);
}

:root {
  --gray-color: #F2F2F7;
  --red-color-tier1: #611D1D;
  --red-color-tier2: #A45353;
  --red-color-tier3: #CA7171;
  --red-color-tier4: #9A8181;
  --green-color: #84994F;
}